html {
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    display: grid;
    height: 100vh;
    margin: 0 2rem;
}

.card {
    padding: 1rem;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    max-width: 300px;
}

.qr-code {
    width: 100%;
    border-radius: 8px;
}

.title {
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.subtitle {
    color: var(--grayish-blue);
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
